{%extends 'admin.html'%}
{% block title%} Login {% endblock title%}
{% block main%}
<!-- <form method="POST">
    <link href="/static/css/login-flask.css" rel="stylesheet"> 
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email" class="text-black">Email Address</label>
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter Email"
        />
        <label for="password" class="text-black">Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="password"
            name="password" 
            placeholder="Enter password"
        />
        <br />
        <button type="submit" class="btn btn-dark pull-left">Giriş Yap</button>
    </div>
</form> -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
<link href="/static/css/login-flask.css" rel="stylesheet"> 
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="POST">
        <h3>Giriş Yapın</h3>

        <label for="email">Email Address </label>
        <input 
            type="email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter Email" 
        />

        <label for="password">Password</label>
        <input 
            type="password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="password" 
        />
        <br />
        <button type="submit" class="btn btn-dark">Log In</button>
{% endblock main%}